$primary-text-blue: hsl(238, 29%, 16%);
$primary-text-red: hsl(14, 88%, 65%);

$gradient-violet: hsl(273, 75%, 66%);
$gradient-blue: hsl(240, 73%, 65%);

$very-grayish-blue: hsl(237, 12%, 33%);
$grayish-blue: hsl(240, 6%, 50%);

$divider-gray: hsl(240, 5%, 91%);

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-size: 75%;
}

@mixin desktop-styles {
  @media only screen and (min-width: 375px) {
    @content;
  }
}

body {
  font-family: 'Kumbh Sans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    $gradient-violet 60%,
    $gradient-blue
  );
}

.card {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
